<header class="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="/">{{ site.title }}</a>
    </h1>
    <nav class="site-nav">
      <a href="/">Home</a>
      <a href="/preface/">مقدمہ</a>
      <a href="/foreword/">پیش لفظ</a>
      <a href="/ghazals/">غزلیں</a>
    </nav>
  </div>
</header>