<header class="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <nav class="site-nav">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/preface/">مقدمہ</a>
      <a href="{{ site.baseurl }}/foreword/">پیش لفظ</a>
      <a href="{{ site.baseurl }}/ghazals/">غزلیں</a>
    </nav>
  </div>
</header>